html {
	background-color: white;
	color: black;
}

div {
	width: 80%;
	height: auto;
	margin-left: 10%; /* a 10% margin left and right */
	margin-right: 10%;
}

#encapsulation {
	width: 80%;
	margin: auto;
}

#canvas {
	width: 512px;
	height: 512px;
	margin: auto;
}

#game {
	padding: 10px; /* a 10px padding around the HTML canvas for the game */
}

#textDiv {
	height: 500px; /* setting the textDiv's height to a fixed 500px */
	overflow: auto; /* any content outside the specified dimensions of the div will not overflow the div by creating a scrollbar */
    text-align: center;
}

img {
	padding: 10px;
	float: center; /* float the image to the center of the textDiv */
}

p {
	font-size: 14pt; /* sets font size of paragraph text to 14 */
}
